---
import { getLangFromUrl, useTranslatedPath } from '@/i18n/utils';
import BlurHashImage from './BlurHashImage.astro';
import MasonryGrid from './MasonryGrid.astro';
import { formatPostDate } from '@/lib/date';
import { checkThumbnails } from '@/lib/ownThumbnail';
import { ImageUrlBuilder } from '@/lib/image-url-builder';
import type { AlbumPost } from '@/types/components';

interface Props {
  loading?: 'lazy' | 'eager';
  posts: AlbumPost[];
}

const { posts, loading = 'lazy' } = Astro.props;
const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
---

<MasonryGrid>
  {
    posts.map(checkThumbnails).map((post) => {
      return (
        <a
          href={`${translatePath('/album')}/${post.slug}`}
          class="group masonry-item"
        >
          <article
            class="relative overflow-hidden"
            style={{
              boxShadow: '0 30px 60px -10px rgba(0, 0, 0, 0.2)',
              aspectRatio: `${post.thumbnail.dimensions.width} / ${post.thumbnail.dimensions.height}`,
            }}
          >
            <BlurHashImage
              blurhash={post.thumbnail.blurhash}
              src={ImageUrlBuilder.build(post.thumbnail.hires, { width: 750, height: 750 })}
              alt={`${post.artist.name} at ${post.venue.name}`}
              width={post.thumbnail.dimensions.width}
              height={post.thumbnail.dimensions.height}
              loading={loading}
              class="object-cover w-full h-full transition-transform duration-300 group-hover:scale-105 md:transform md:scale-100"
            />
            <div class="absolute inset-0 bg-gradient-to-t from-black/30 to-transparent opacity-100">
              <div class="absolute bottom-0 left-0 right-0 p-4 text-white flex flex-row items-center justify-between">
                <h2 class="font-bold text-lg uppercase">{post.artist.name}</h2>
                <p class="text-sm opacity-75">
                  {post.venue.name} — {formatPostDate(post.date)}
                </p>
              </div>
            </div>
          </article>
        </a>
      );
    })
  }
</MasonryGrid>
