---
import BlurHashImage from './BlurHashImage.astro';

interface Props {
  title: string;
  imageUrl: string;
  searchTerm: string;
  translatePath: (path: string) => string;
  blurhash: string;
}

const { title, imageUrl, searchTerm, translatePath, blurhash } = Astro.props;
---

<a
  href={`${translatePath('/archive')}?search=${encodeURIComponent(searchTerm)}`}
  class="group relative overflow-hidden"
>
  <BlurHashImage
    src={imageUrl}
    alt={title}
    class="aspect-[4/3] object-cover w-full transition-transform duration-300 group-hover:scale-105"
    loading="lazy"
    width={750}
    height={500}
    blurhash={blurhash}
  />
  <div
    class="absolute inset-0 bg-black/60 opacity-100 md:opacity-0 md:group-hover:opacity-100 transition-opacity duration-300 flex items-center justify-center"
  >
    <p class="text-white text-xl font-semibold">{title}</p>
  </div>
</a>
